body {
	background-image: url(http://www.dafenonline.com/op/reproductions/Van_Gogh_Branches_with_Almond_Blossom_dafenonline.jpg); 
	background-repeat:no-repeat;
	background-size:cover;
}

header {
	
}

#heading  {
	color: rgb(191,109,133);
	background-color: rgb(171,204,215); opacity: 0.9;
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	text-align: center;
	padding: 10px;
	width: 100%;
}

#instructions {
	color: rgb(191,109,133);
	background-color: rgb(171,204,215); opacity: 0.9;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	width: 100%;
}
.main-section {
	background-color: rgb(171,204,215); opacity: 0.9;
	width: 50%;
	float: left;
	color: rgb(191,109,133);
	background-color: rgb(171,204,215); opacity: 0.9;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
	text-align: center;
}

.game-tally-repository {
	color: rgb(191,109,133);
	background-color: rgb(171,204,215); opacity: 0.9;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
	text-align: center;
	width: 35%;
	float: right;
}
/*
h2 {
	color: rgb(191,109,133);
	background-color: rgb(171,204,215); opacity: 0.9;
	font-size: 30px;
	text-align: center
}*/

